.container {
    margin: 20px auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 2fr repeat(4, 1fr);
    grid-template-rows: 1fr, 50px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.container h1 {
    grid-column: 1/7;
    grid-row: 1/2;
    text-align: center;
}

.container div {
    font-size: 14px;
}